<% content_for :head do %>
  <%= javascript_include_tag "pages/watch.js" %>
  <%= javascript_include_tag "shared/drawing.js" %>
  <%= javascript_include_tag "shared/pusher.js" %>
<% end %>

<% content_for :content do %>
  <div data-role="header">
		<h1>Category: </h1>
	</div><!-- /header -->

	<div data-role="content">	
		<canvas id="drawArea" width="200" height="100"></canvas>
		<p><input data-role="none" name="guess" id="guess" type="text" />
			<input data-role="none" type="button" id="guess-btn" value="Guess" />
		</p>
	</div><!-- /content -->
<% end %>



