canvas
{
	background: #ffffcc;
}

.ui-content
{
	padding: 0 !important;
}

#guesses h3
{
	margin: 0;
}

#guesses ul, #scores ul
{
	list-style-type: none;
	display: block;
	width: 100%;
	margin: 0 0 12px 0;
}

#scores li
{
	display: block;
	background: #ddddff;
	margin: 4px 0;
	padding: 1em;
}

#guesses li a
{
	color: black;
	display: block;
	background: #ddffdd;
	margin: 4px 0;
	padding: 1em;
}

#guesses li a:hover
{
	text-decoration: none;
}

#joining, #watching, #drawing, #scores
{
	padding: 8px;
}
